<div class="login-container">
  <div class="login-card">
    <h1>Digital Signage</h1>
    <p class="subtitle">Sign in to access the product display</p>
    <button class="login-button" (click)="login()">
      <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.5 0C4.7 0 0 4.7 0 10.5S4.7 21 10.5 21 21 16.3 21 10.5 16.3 0 10.5 0zm0 3.15c1.68 0 3.045 1.365 3.045 3.045S12.18 9.24 10.5 9.24 7.455 7.875 7.455 6.195 8.82 3.15 10.5 3.15zm0 15.33c-2.63 0-4.935-1.365-6.3-3.395.03-2.1 4.2-3.255 6.3-3.255s6.27 1.155 6.3 3.255c-1.365 2.03-3.67 3.395-6.3 3.395z" fill="currentColor"/>
      </svg>
      Sign in with Microsoft
    </button>
    <p class="note">You need to be authenticated to view the digital signage display.</p>
  </div>
</div>
